body {
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
    font-size: 25px;
}

ul {
    margin: 15px 0 0 0;
    padding: 0;
}

.launch-div {
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
}

.submit-all {
    margin-top: 25px;
}

.launch-header {
    width: 100vw;
}

.admin-launch {
    width: 100vw;
    text-align: center;
}

#map {
    width: 100vw;
    height: 100vh;
}
.stops {
    margin: 15px;
}


.view {
    display: block;
}
.hide {
    display: none;
}
.border {
    border: 1px solid black;
}

.selection {
    margin: 15px;
    font-size: 25px;
}

.colorful {
    color: green;
}

.inline-block {
    display: inline-block;
    margin: 15px;
}

.spaced {
    margin: 25px;
}

.fixed-submit {
    position: fixed;
    z-index: 1000000;
    text-align: center;
}

.fixed-submit-button {
    bottom: 50px;
    color: white;
}

.fixed-search {
    bottom: 0px;
}

.fixed-submit-wrapper {
    background-color: black;
    width: 100vw;
    color: white;
    height: 15vh;
    position: fixed;
    bottom: 0;
    z-index: 99999;
}

.smaller {
    font-size: 20px;
}

.highlight {
    font-size: 25px;
    color: red;
    font-style: bold;
}

.small-ul {
    margin-top: 25px;
    height: 30vh;
    overflow-x: scroll;
    scrollbar-base-color: gray;
}
